body {
	padding: 20px;
}

#new-game {
	font-family: "Lucida Console", Courier, monospace;
	font-style: normal;
	font-size: 1.5em;
	float: right;
	display: block;
}

section {
	margin: 5%;
	display: block;
}

#intro h2 {
	font-family: fantasy;
	font-weight: bold;
	font-size: 3em;
}

#user-guess {
	font-size: 7em;
	width: 2em;
	text-align: right;
	font-family: sans-serif;
	border-radius: 0.1em;
}

#progress-bar {
	margin-top: 2em;
	height: 2.5em; 
}

#modal-text {
	padding: 0.5em 1em;
	font-family: fantasy;
	font-weight: bold;
	font-size: 2em;
}

@media only screen and (max-width: 420px) {
	#intro {
		margin-top: 15%;
	}

	#intro h2 {
		font-size: 1.4em;
	}
	#ingress {
		margin-top: 15%;
		float: center;
		display: block;
	}
	#progress-bar {
		margin-top: 15%;
		height: 2.5em; 
	}
}
